
@model FavoriGetAllModel

<div class="col-md-4" style="width:300px;height:400px; padding-right:0px; padding-left:8px;">
    <div class="card mb-2 ">
        <div style="text-align:center;">  <img src="~/img/@Model.Product.ImageUrl" alt="@Model.Product.ProductName" width="200" height="200" /></div>
        <div class="card-body">
            <h4 class="card-title">
                <a href="#">@Model.Product.ProductName</a>
            </h4>
            <small class="text-muted mr-4">
                <i class="fas fa-lira-sign"></i> @Model.Product.ProductPrice

            </small>
            <small class="text-muted">  Stok Adedi : @Model.Product.UnitsInStock</small>



        </div>
        <div class="card-footer text-center">
            <a asp-controller="Product" asp-action="Detaylar" asp-route-id="@Model.Product.Id" class="btn btn-outline-primary btn-sm">Detaylar</a>
            <a asp-controller="Basket" asp-action="Add" asp-route-id="@Model.Product.Id" class="btn btn-outline-primary btn-sm ">Sepete Ekle</a>

            <a asp-controller="Favori" asp-action="Delete" asp-route-id="@Model.FavoriId" class="btn btn-danger btn-sm ">Favorilerden Çıkar</a>



        </div>
    </div>
</div>